<div class="header">
    <nav class="navbar navbar-expand navbar-dark fixed-top">
        <div class="container mt-3">
            <a class="navbar-brand">
                <img width="150" src={{logo}} class="img-fluid" alt="">
            </a>
        </div>
    </nav>
    <div class=" container p-5 intro">
        <div class="row align-items-center">
            <div class="col-md-6 intro-desc">
                <p>Coronavirus around the world</p>
                <h3>(COVID-19)</h3>
                <p style="color: rgb(160, 26, 26);
                font-weight: 600;
                font-size: 25px;">Route is not found.</p>
                <a (click)="navigateToHome()" class="btn read-btn d-flex align-items-center justify-content-center">
                    <span> Home </span></a>
            </div>
            <div class="col-md-5 p-3">
                <img src={{image}} class="img-fluid d-block mx-auto" alt="">
            </div>
        </div>
        <div id="triangle"></div>
    </div>
</div>