<div class="container cards">
    <div *ngIf="countries.length == 0" class="text-center title"> You have no favourite countries yet..</div>
    <div *ngIf="countries.length != 0" class="row d-flex justify-content-center">
        <div *ngFor="let country of countries | paginate: {
            id: 'listing_pagination', itemsPerPage: 12, currentPage: page, totalItems: totalCountries}"
            class=" card col-md-3" style="width: 18rem;">
            <div *ngIf="country.population" class="card-body">
                <div (click)="deleteFav(country._id)" class="close-div text-right align-self-end">
                </div>
                <div class="row d-flex flex-row">
                    <div class="col-3 align-self-start">
                        <i
                            class="card-icon-div flag-icon flag-icon-{{country.country_iso2.toLowerCase()}} flag-icon-squared">
                        </i>
                    </div>
                    <div class="col-8 align-self-center ">
                        <h5 class="card-title">{{country.country}}</h5>
                    </div>
                </div>
                <hr>
                <div class="card-text text-left">
                    <p class="pop"><span class="card-data"> Population: </span> {{country.population}} </p>
                    <p class="conf"> <span class="card-data"> Confirmed: </span>{{country.confirmed}} </p>
                    <p class="death"><span class="card-data"> Deaths: </span>{{country.deaths}} </p>
                    <p class="re"><span class="card-data"> Recovered: </span>{{country.recovered}} </p>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls *ngIf="countries.length != 0" id="listing_pagination" class="text-center paginationNo" maxSize="6" directionLinks="true"
        (pageChange)="page = $event"></pagination-controls>

</div>