<div id="end" class="main-features">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <div class="features-circle">
                    <img width="60%" src={{mobile}}>
                </div>
            </div>
            <div class="col-lg-6 text-center features-header">
                <h3>About<span> Us</span></h3>
                <p>As covid-19 has spread around the world, people have become grimly concerned about the death tolls
                    due to the COVID-19 everyday. We provide data about deaths, confirmed cases, recovered cases
                    and population for each country. </p>
            </div>
        </div>
    </div>
    <footer class="footer text-center text-lg-start">
        <div  class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright: SomaiaElbaradey
            <a  href = "mailto: somayaelbaradey@gmail.com">
                <img width="100" src={{logo}} class="img-fluid" alt="">
            </a>
        </div>
        
    </footer>
</div>