<div class="header">
    <div class=" container p-5 intro">
        <div class="row align-items-center">
            <div class="col-md-6 intro-desc">
                <p>Coronavirus around the world</p>
                <h3>(COVID-19)</h3>
                <p>In our Website you can see COVID-19 data worldwide
                    — you can visualize the latest data on confirmed cases, deaths, and recovered.</p>
                <a href="#end" class="btn read-btn d-flex align-items-center justify-content-center"><span>Read
                        More</span></a>
            </div>
            <div class="col-md-5 p-3">
                <img src={{image}} class="img-fluid d-block mx-auto" alt="">
            </div>
        </div>
        <div id="triangle"></div>
    </div>
</div>