<div class="header">
    <nav class="navbar navbar-expand navbar-dark fixed-top">
        <div class="container mt-3">
            <a class="navbar-brand">
                <img width="150" src={{logo}} class="img-fluid" alt="">
            </a>
            <div id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" (click)="goHome()">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="getFav()">Favourites</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
